body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* HEADER */

#header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
  background-color: #24292f;
}

#header .menu-item-container {
  width: 50%;
  margin-right: 30px;
}

#header .menu-item-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

#header .menu-item-list li {
  list-style: none;
}

#header .menu-item-list .menu-item-list-item {
  text-decoration: none;
  color: #fff;
}
/* HEADER */

/* HOME PAGE */
#peoples-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 100px 150px;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-decoration: none;
  color: #24292f;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.people-image {
  width: 200px;
  height: 200px;
}

@media(max-width: 768px) {
  #header .menu-item-container {
    width: 100%;
  }

  #peoples-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 18px;
  }
}
/* HOME PAGE */


/* DETAIL */
.people-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  position: relative;
}


.back {
  position: absolute;
  left: 30px;
  top: 20px;
}


.people-detail .people-detail-image {
  width: 200px;
  height: 250px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #24292f;
  color: white;
  width: 50%;
}


/* DETAIL */

